*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*container*/
.container{
    background-color: #edf0f5;
    height: auto;
    width: 100%;
    padding-bottom: 40px;
}
/*form-Container*/
.form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
/*form*/
.form{
    border-radius: 8px;
    height: auto;
    width: 450px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/*logo*/
.logo{
    height: 130px;
    width: 240px;
}
/*form heading*/
#formHeading{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
/*quote*/
#quote{
    color: gray;
    text-align: center;
    margin-bottom: 10px;
}
/*border after description*/
.description{
    border-bottom: 1px solid rgb(218, 218, 218);
    margin-bottom: 10px;
}
/*input fields*/
.inputFields{
    padding: 0px 15px 0px 15px;
}
/*names*/
.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
/*first name input field*/
.firstName{
    padding: 8px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    outline: none;
    font-size: 15px;
}
/*last name input field*/
.lastName{
    padding: 8px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    outline: none;
    font-size: 15px;
}
/*mobile or email*/
.emailOrNumber{
    padding: 8px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}
/*password*/
.password{
    padding: 8px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}
#birthday{
    font-size: 12px;
    color: gray;
    margin-bottom: 10px;
}
.fa-question-circle{
    font-size: 12px;
    color: gray;
}
.fa-question-circle:hover{
    cursor: pointer;
}
.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.birthDate{
    border-radius: 4px;
    font-size: 15px;
    padding: 8px;
    width: 31%;
    border: 1px solid rgb(218, 218, 218);
    margin-bottom: 10px;
}
#gender{
    font-size: 12px;
    color: gray;
    margin-bottom: 10px;
}
.male{
    border: 1px solid rgb(218, 218, 218);
}
.gender{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.gender:hover{
    cursor: pointer;
}
#female{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    padding: 8px;
    width: 31%;
}
#male{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    padding: 8px;
    width: 31%;
}
#custom{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    padding: 8px;
    width: 31%;
}
#terms{
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}
.terms, .cookies{
    text-decoration: none;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#signUpButton{
    background-color: rgb(34, 173, 34);
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 8px 0px 8px 0px;
    width: 45%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
#signUpButton:hover{
    cursor: pointer;
    background-color: rgb(33, 163, 33);
}
.question{
    text-decoration: none;
    color: #1778f2;
    text-align: center;
    margin-bottom: 20px;
}
#question{
    margin-bottom: 20px;
}